<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add New Person</title>
</head>
<body>
	<h1>Add New Person </h1>
 	<hr/>
 	
 	<form action="#" method="post" th:action="@{/addperson}" th:object="${person}">
 	<h2>Person Info </h2>
 	<hr/>
  	<label for = "personId" >Person Id</label>
    <input th:field="*{personId}"  type = "text" name="personId" id="personId"  placeholder="personId">
    <br/>
    <label for = "firstName" >First Name</label>
    <input th:field="*{firstName}"  type = "text" name="firstName" id="firstName"  placeholder="firstName">
    <div>
		<span style="color:red" th:errors="*{person.firstName}"> </span>      
	</div>  
    <br/>
    <label for = "lastName" >Last Name</label>
    <input th:field="*{lastName}"  type = "text" name="lastName" id="lastName"  placeholder="lastName">
    <div>
		<span style="color:red" th:errors="*{person.lastName}"> </span>      
	</div>  
    <br/>
    <label for = "age" >Age</label>
    <input th:field="*{age}"  type = "text" name="age" id="age"  placeholder="age">
    <br/>
    <label for = "emailAddress" >Email</label>
    <input th:field="*{emailAddress}"  type = "text" name="emailAddress" id="emailAddress"  placeholder="emailAddress">
    <br/>
    <label for = "password" >Password</label>
    <input th:field="*{password}"  type = "text" name="password" id="password"  placeholder="password">
    <br/>
    <label for = "language" >Language</label>

    <select th:field="*{language}" >
						<option th:value="'FR'" th:text="Français"></option>
						<option th:value="'NL'" th:text="Nederlands"></option>
						<option th:value="'EN'" th:text="English"></option>
					</select>
 	<hr/>
 	<h2>Company Info </h2>
 	<hr/>
 	<label for = "name" >Name</label>
    <input th:field="*{company.name}"  type = "text" name="companyName" id="companyName"  placeholder="companyName">
    <br/>
    <label for = "TelephoneNumber" >Telephone Number</label>
    <input th:field="*{company.telephoneNumber}"  type = "text" name="telephoneNumber" id="telephoneNumber"  placeholder="telephoneNumber">
    <br/>
    <label for = "vatNr" >vatNr</label>
    <input th:field="*{company.vatNr}"  type = "text" name="vatNr" id="vatNr"  placeholder="vatNr">
    <br/>
   	<hr/>
 	<h2>Address Company Info </h2>
 	<hr/>
 	<label for = "street" >street</label>
    <input th:field="*{company.address.street}"  type = "text" name="street" id="street"  placeholder="street">
    <br/>
 	<label for = "town" >town</label>
    <input th:field="*{company.address.town}"  type = "text" name="town" id="town"  placeholder="town">
    <br/>
 	<label for = "zipcode" >zipcode</label>
    <input th:field="*{company.address.zipcode}"  type = "text" name="zipcode" id="zipcode"  placeholder="zipcode">
    <br/>
 	<label for = "nr" >Number</label>
    <input th:field="*{company.address.nr}"  type = "text" name="nr" id="nr"  placeholder="nr">
    <br/>
 
    <button type = "submit" >Add New</button>
    </form>	
    
    <form action="#" method="get" th:action="@{/adminperson}">
          <button type = "submit" >Back</button>
    </form>	
</body>
</html>