<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Find Course By Short Title </h1>
	<hr/>
    <form action="#" method="post" th:action="@{/coursebyshorttitle}" th:object="${course}">
    	    <hr/>
            <label for = "shorttitlecourse" >Id Course</label>
            <input th:field="*{shortTitle}"  type = "text" name="shorttitle" id="shorttitle"  placeholder="Short Title">
            <br/>
            <button type = "submit" >Search</button>
    </form>

	<form action="#" method="get" th:action="@{/course}">
          <button type = "submit" >Back</button>
    </form>		

</body>
</html>