<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Change My Password</title>
</head>
<body>
	<h1>Change My Password</h1>
	<hr/>
	<form action="#" method="post" th:action="@{/newpassword}"
		th:object="${newpassword}">
		<br />
		<label for="newpassword">New Password</label> 
			<input type="password" name="newPassword" id="newPassword" placeholder="newPassword"> <br />
		<button type="submit">Update</button>
	</form>


	<form action="#" method="get" th:action="@{/adminperson}">
		<button type="submit">Back</button>
	</form>
</body>
</html>