<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Search Person</title>
</head>
<body>
	<h1>Search Person</h1>
   	<hr/>

   	<div>
		More options ...
		<ul>
			<li><a href="http://localhost:8085/exercice/findpersonbyid">Search Person by Id </a></li>
			<li><a href="http://localhost:8085/exercice/allpersons">Show All Persons</a></li>
		</ul>
	</div>
	
	<form action="#" method="get" th:action="@{/adminperson}">
          <button type = "submit" >Back</button>
    </form>
	
</body>
</html>